#employees {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
/*    display: flex;*/
height: 850px;
}

.employee-photo img{
	margin: 0 auto;
    padding: 13px;
    display: table-cell;
    width: 200px;
    border-radius: 50%;

}

.employee-photo {
	background-color: #F5F5F5;
	text-align: center;
	width: 25%;
	padding:20px;
	border-radius: 10px;
	margin: 0 auto;
	margin: 20px;
	float: left;
	margin-bottom: 40px;



/*	flex-grow: 3;
	flex-wrap: wrap;*/


}

.empsocial{
	display: flex;
	width: 20%;
	text-align: center;
	align-items: center;


}

.learnmore{
	margin-top: 50px;
}
