#home-wrapper {
  display: flex;
  justify-content: space-between;
}

.heroImage img{
  float: right;
  margin-left:-8px;
  width: 60%;
}

#home-sfeer {
  color: white;
  text-align: center;
 /* margin-top: -70px;*/
  margin-left: 92px;
}

#home-sfeer img {
  height:
  padding-bottom: 30px;
  width: 480px;
}

#home-map {
  margin-right: 170px;
  position: relative;
}

#home-map img {
  width: 525px;
}

h1 {
  color: #ED412D;
  background-color: white;
  margin: -15px;
  margin-left: 25%;
  text-transform: uppercase;
  width: 50%;
}

p {
  margin-bottom: -8px;
  text-transform: uppercase;
}

.target-1,
.target-2 {
  display: block;
  opacity: 0;
  position: absolute;
  top: 18px;
}

.target-1:hover,
.target-2:hover {
  opacity: 0.7;
}

.target-1 {
  background-color: #3e93de;
  height: 186px;
  left: 22px;
  width: 180px;
}

.target-2 {
  background-color: #f12b24;
  height: 239px;
  right: 20px;
  width: 297px;
}
