#home-wrapper {
  display: flex;
  justify-content: space-between;
}

.heroImage img{
  float: right;
  margin-left:-8px;
  width: 60%;
}

#home-sfeer {
  color: white;
  text-align: center;
 /* margin-top: -70px;*/
  margin-left: 92px;
}

#home-sfeer img {
  height:
  padding-bottom: 30px;
  width: 480px;
}

#home-map {
  margin-right: 170px;
}

#home-map img {
  width: 525px;
}

h1 {
/*  color: #FFF;*/
  color: #ED412D;
  background-color: white;
  margin: -15px;
  margin-left: 25%;
  text-transform: uppercase;
/*  text-shadow: 2px 2px #A9A9A9;*/
  width: 50%;
}

p {
  margin-bottom: -8px;
  text-transform: uppercase;
/*  text-shadow: 2px 2px #A9A9A9;*/
/*  padding-bottom: 10px;*/
}


/* .sfeer causes the h3 to go up under rommap*

.sfeer {
  float: left;
}*/

/*.heroImage {
  margin: 0 auto;
}

*/

/*aside {
  float: right;
  width: 30%;
}

#content {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ccc;
}
#clickable-1, #clickable-2, #clickable-3, #clickable-4 {
    position: absolute;
    width: 50px;
    height: 50px;
}
#clickable-1 {
    top: 0;
    left: 0;
    background-image: url(images/roommap.jpg);
}
#clickable-2 {
    top: 0;
    right: 0;
    background-image: url(images/roommap.jpg);
}
#clickable-3 {
    bottom: 0;
    right: 0;
    background-image: url(images/roommap.jpg);
}
#clickable-4 {
    bottom: 0;
    left: 0;
    background-image: url(images/roommap.jpg);
}*/

/*div {
  width: 150px;
  height: 150px;
  overflow: scroll;
}*/

/*h1 {
 padding: ;
}

.tagline {

}*/
