@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*Font-color: #404040
Buttons
Blue: #5DBCD2

Links
Green: #51AE66
Red Orange: #ED412D*/

body{
	font-family: "Open Sans";
}

main{
	width: 90%;
	margin: 0 auto;
}

h1, h2, h3{
	font-family: "Open Sans";
}


/* -- HEADER & NAVIGATION -- */
header{
	background-image: url('../images/homepage-img.png');
	width: 100%;
	margin-left: -10px;
	padding-right: 20px;
	height: 100%;
}

.socialbar{
	background-color:#000;
	margin-top:-8px;
	margin-left: -10px;
	padding-right: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	display: flex;
}

	ul.social-nav {
	list-style-type: none;
}

	.social-nav {
  display: -webkit-flex;
  display: flex;

}
	.social-nav li:first-child {
  margin-right: auto;

}

.social-nav li{
	margin: 2px;
}

	.icon{
		background-color: #FFF;
	}

nav{
/*	background-color:#5DBCD2;*/
	margin-top:-8px;
	margin-left: -10px;
	padding-right: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	display: flex;
}

.main-nav {
  display: -webkit-flex;
  display: flex;

}

ul.main-nav {
	list-style-type: none;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
	font-family: "Arial";
	font-size: 1em;
	margin: 10px;
	border-radius: 5px;
	color: #FFF;
	display: block;
	padding: 15px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

.main-nav li a:hover{
	color: #ED412D;
}

/*ul.main-nav li.here>a{
	background: white;
	color: #B95041;
}*/


li.none a{
	margin: 0;
	padding: 0px;
}

li.none a:hover{
	margin: 0;
	background-color: #BBCDB3;
}



.heroImage img{
	width: 101.7%;
	margin-left:-8px;
	margin-top: -50px;
	z-index: 0;
}

.title{
	color: #585858;
	font-family: "Open Sans";
	width: 100%;
	height: 60px;
	background-color: #E8E8E8;
	margin:0 auto;
	margin-top:-30px;
	margin-left: -10px;
	padding-right: 20px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
	line-height: 1em;
	border-bottom: 1px solid #A8A8A8;
}

.title h1{
	font-family: "Open Sans";
	color: #585858;
}

footer{
	position: absolute;
	width: 100%;
	font-size: .75em;
	text-align: left;
	font-family: "Open Sans";
	background-color: #000;
	color: #FFF;
	margin-left: -10px;
	padding: 30px 0px 00px 5px;
}

footer img{
	 display: block;
	 float: right;
	 width:60px;
	 padding-bottom: 10px;
	 padding-right: 20px;
	 margin-top: -15px;
	  
}





















